html {
    font-family: Arial, Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paracontainer {
    background-color: #dedede;
    border-radius: 30px;
    padding: 30px;
    margin: 30px;
    max-width: 800px;
}